.button {
    width: 40%;
    margin: 5px 0 20px;

    @media (min-width: $breakpointDesktop) {
        width: 15%;
    }
}

.account {
    &-header {
        @include flex-col-center;

        margin: 30px 0 25px 0;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;

            @media (min-width: $breakpointDesktop) {
                font-size: 2rem;
            }
        }
    }

    &-form {
        @include flex-col-center;

        margin: 0 45px 45px 45px;

        input {
            width: 80%;
            height: 40px;
            margin: 5px 0 20px;
            padding: 0 10px;
            border: 1px solid var(--BackAndBorderColor);
            border-radius: 5px;
            font-size: 1rem;

            @media (min-width: $breakpointDesktop) {
                width: 30%;
            }
        }

        p {
            margin: 5px 0 20px;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .button {
            width: 50%;
            border-radius: 5px;
        }

    }
}

.editUser-button {
    width: 150px;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    border-color: var(--SecondaryColor);
    background: var(--PrimaryColor);
    color: white;

    padding: 9px 15px 9px 15px;
    border-radius: 20px;
    margin-top: 15px;

    @media (min-width: $breakpointDesktop) {
        margin-top: 0;
        font-size: 1.1rem;
    }

    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        scale: 1.05;
    }
}