.account {
    @include flex-col-center;

    justify-content: space-between;
    border: 1px solid var(--TextColor);
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: var(--TextColor);
    color: white;

    @media (min-width: $breakpointDesktop) {
        padding: 2rem;
    }

    &-amount {
        font-size: 1.9rem;
        font-weight: bold;
        margin: 10px 0;

        @media (min-width: $breakpointDesktop){
            font-size: 2.5rem;
        }
        &-description {
            font-size: 0.9rem;
            font-weight: normal;

            @media (min-width: $breakpointDesktop){
                font-size: 1rem;
            }
        }
    }

    &-title {
        font-size: 0.9rem;
        font-weight: normal;

        @media (min-width: $breakpointDesktop) {
            font-size: 1rem;
        }
    }

    &-content-wrapper {
        width: 100%;
        flex: 1;
        text-align: right;
    }
}

.transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    border-color: var(--SecondaryColor);
    background: var(--PrimaryColor);

    padding: 9px 15px 9px 15px;
    border-radius: 20px;
    margin-top: 15px;

    @media (min-width: $breakpointDesktop) {
        margin-top: 0;
        font-size: 1.1rem;
    }

    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        scale: 1.05;
    }
}

@media (min-width: $breakpointDesktop) {
    .account {
        flex-direction: row;
    }

    .account-content-wrapper.cta {
        flex: 0;
    }

    .transaction-button {
        width: 200px;
    }

    .fa-chevron-right {
        display: none;
    }
}

@media (max-width: $breakpointDesktop) {
    .account {
        flex-direction: row;
    }

    .transaction-button {
        display: none;
    }
}

.fa-chevron-right {
    font-size: 43px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        scale: 1.50;
    }
}
