.error {
    height: 50vh;

    @include flex-col-center;

    justify-content: center;

    h1 {
        font-size: 6rem;

        @media (min-width: $breakpointDesktop) {
            font-size: 20rem;
        }
    }

    p {
        font-size: 1.6rem;

        @media (min-width: $breakpointDesktop) {
            font-size: 2rem;
        }
    }
}