.sign-in, .register {
    box-sizing: border-box;
    background: white;
    margin: 0 auto;
    margin-top: 0rem;
    padding: 2rem;

    @include flex-col-center;

    &__button{
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 0.5rem;
        border-color: var(--SecondaryColor);
        background: var(--PrimaryColor);
        color: var(--TextColor);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            scale: 1.02;
        }
    }

    &__icon{
        font-size: 5rem;
        margin-bottom: 10px;
    }

    &__error{
        &-message{
            color: red;
            font-size: 0.9rem;
            margin: 0 0 1rem 0;
        }
        &-border{
            border: 1px solid red;
        }
    }
}

.register {
    &-cont {
        display: flex;
        column-gap: 0.6rem;
    }
}

.input{
    &-remember{
        display: flex;

        label{
            margin-left: 0.3rem;
        }
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        label{
            font-weight: bold;
        }

        input{
            font-size: 1.2rem;
            width: 97.5%;
            height: 40px;
            margin: 5px 0 20px;
            border: 1px solid var(--BackAndBorderColor);
            border-radius: 5px;
        }
    }
}