@import '../base/_mixin';

.cont-nav {
    @include flex-col-center;

    justify-content: space-between;

    height: 130px;
    border-bottom: 1px solid var(--BackAndBorderColor);
    @media (min-width: $breakpointDesktop) {
        height: 125px;
        flex-direction: row;
        border-bottom: 1px solid #cccccc00;
    }
}

.logo-header{
    height: 7vh;
    margin: 10px 0 0 0;
}