@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --PrimaryColor: #00BC77;
  --SecondaryColor: #00BC7700;
  --TextColor: Black;
  --BackAndBorderColor: #ccc;
  --font_text: "Roboto", sans-serif;
}

.cont-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 130px;
  border-bottom: 1px solid var(--BackAndBorderColor);
}
@media (min-width: 920px) {
  .cont-nav {
    height: 125px;
    flex-direction: row;
    border-bottom: 1px solid rgba(204, 204, 204, 0);
  }
}

.logo-header {
  height: 7vh;
  margin: 10px 0 0 0;
}

.footer {
  background: var(--PrimaryColor);
  color: var(--TextColor);
  padding: 40px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.error {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error h1 {
  font-size: 6rem;
}
@media (min-width: 920px) {
  .error h1 {
    font-size: 20rem;
  }
}
.error p {
  font-size: 1.6rem;
}
@media (min-width: 920px) {
  .error p {
    font-size: 2rem;
  }
}

.banner {
  background-image: url("../../assets/img/bank-tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  position: relative;
  background-position: 0 -50px;
}
@media (min-width: 920px) {
  .banner {
    border-radius: 25px;
    background-position: 0;
  }
}
.banner__content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
  border-radius: 25px;
}
@media (min-width: 920px) {
  .banner__content {
    position: absolute;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}
@media (max-width: 920px) {
  .banner__content {
    display: none;
  }
}
.banner__subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
@media (min-width: 920px) {
  .banner__subtitle {
    font-size: 1.5rem;
  }
}
.banner__text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .banner__text {
    font-size: 1.2rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 920px) {
  .feature {
    flex-direction: row;
    margin-top: 1rem;
  }
}
.feature__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}
.feature__item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}
.feature__item-text {
  color: #222;
  font-size: 1rem;
  text-align: center;
}
.feature__icon {
  width: 100px;
  border: 10px solid var(--PrimaryColor);
  border-radius: 50%;
  padding: 1rem;
}

.sign-in, .register {
  box-sizing: border-box;
  background: white;
  margin: 0 auto;
  margin-top: 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in__button, .register__button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  border-color: var(--SecondaryColor);
  background: var(--PrimaryColor);
  color: var(--TextColor);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sign-in__button:hover, .register__button:hover {
  scale: 1.02;
}
.sign-in__icon, .register__icon {
  font-size: 5rem;
  margin-bottom: 10px;
}
.sign-in__error-message, .register__error-message {
  color: red;
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
}
.sign-in__error-border, .register__error-border {
  border: 1px solid red;
}

.register-cont {
  display: flex;
  column-gap: 0.6rem;
}

.input-remeber {
  display: flex;
}
.input-remeber label {
  margin-left: 0.3rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.input-wrapper label {
  font-weight: bold;
}
.input-wrapper input {
  font-size: 1.2rem;
  width: 97.5%;
  height: 40px;
  margin: 5px 0 20px;
  border: 1px solid var(--BackAndBorderColor);
  border-radius: 5px;
}

.cont-nav p,
.cont-nav i {
  margin: 0 3px;
}
.cont-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media (min-width: 920px) {
  .cont-user {
    margin-bottom: 0px;
  }
}

.btn-user {
  color: var(--TextColor);
  display: flex;
  text-decoration: none;
  margin: 7px 15px;
  padding: 10px 15px;
  border: 1px solid var(--BackAndBorderColor);
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}
.btn-user:hover {
  background-color: var(--BackAndBorderColor);
}
.btn-user.active {
  background-color: rgba(0, 188, 119, 0.7725490196);
  cursor: default;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--TextColor);
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  border-radius: 10px;
  background: var(--TextColor);
  color: white;
}
@media (min-width: 920px) {
  .account {
    padding: 2rem;
  }
}
.account-amount {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 10px 0;
}
@media (min-width: 920px) {
  .account-amount {
    font-size: 2.5rem;
  }
}
.account-amount-description {
  font-size: 0.9rem;
  font-weight: normal;
}
@media (min-width: 920px) {
  .account-amount-description {
    font-size: 1rem;
  }
}
.account-title {
  font-size: 0.9rem;
  font-weight: normal;
}
@media (min-width: 920px) {
  .account-title {
    font-size: 1rem;
  }
}
.account-content-wrapper {
  width: 100%;
  flex: 1;
  text-align: right;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: var(--SecondaryColor);
  background: var(--PrimaryColor);
  padding: 9px 15px 9px 15px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
@media (min-width: 920px) {
  .transaction-button {
    margin-top: 0;
    font-size: 1.1rem;
  }
}
.transaction-button:hover {
  scale: 1.05;
}

@media (min-width: 920px) {
  .account {
    flex-direction: row;
  }
  .account-content-wrapper.cta {
    flex: 0;
  }
  .transaction-button {
    width: 200px;
  }
  .fa-chevron-right {
    display: none;
  }
}
@media (max-width: 920px) {
  .account {
    flex-direction: row;
  }
  .transaction-button {
    display: none;
  }
}
.fa-chevron-right {
  font-size: 43px;
  cursor: pointer;
  transition: all 0.2s;
}
.fa-chevron-right:hover {
  scale: 1.5;
}

.button {
  width: 40%;
  margin: 5px 0 20px;
}
@media (min-width: 920px) {
  .button {
    width: 15%;
  }
}

.account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 25px 0;
}
.account-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 920px) {
  .account-header h1 {
    font-size: 2rem;
  }
}
.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px 45px 45px;
}
.account-form input {
  width: 80%;
  height: 40px;
  margin: 5px 0 20px;
  padding: 0 10px;
  border: 1px solid var(--BackAndBorderColor);
  border-radius: 5px;
  font-size: 1rem;
}
@media (min-width: 920px) {
  .account-form input {
    width: 30%;
  }
}
.account-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.account-buttons .button {
  width: 50%;
  border-radius: 5px;
}

.editUser-button {
  width: 150px;
  padding: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: var(--SecondaryColor);
  background: var(--PrimaryColor);
  color: white;
  padding: 9px 15px 9px 15px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
@media (min-width: 920px) {
  .editUser-button {
    margin-top: 0;
    font-size: 1.1rem;
  }
}
.editUser-button:hover {
  scale: 1.05;
}

.contenair {
  max-width: 1300px;
  min-height: 93vh;
  margin: 0 auto;
}
@media (min-width: 920px) {
  .contenair {
    width: 90%;
  }
}

body {
  margin: 0;
  font-family: var(--font_text);
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}/*# sourceMappingURL=main.css.map */