@import './base/_fonts';
@import './base/_normalize';
@import './base/_variables';
@import './layouts/_header';
@import './layouts/_footer';
@import './pages/_error';
@import './pages/_home';
@import './pages/_signin&register';
@import './components/_account';
@import './components/_transaction';
@import './components/_editUser';
@import './base/_mixin';

.contenair {
    max-width: 1300px;
    min-height: 93vh;
    margin: 0 auto;

    @media (min-width: $breakpointDesktop) {
        width: 90%;
    }
}

body {
    margin: 0;
    font-family: var(--font_text);
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
}


