:root {
    --PrimaryColor: #00BC77;
    
    --SecondaryColor: #00BC7700;

    --TextColor: Black;

    --BackAndBorderColor: #ccc;

    --font_text: 'Roboto', sans-serif;
}

$breakpointDesktop: 920px;